@model IEnumerable<ASP.Models.CategoryListItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cat_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Cat_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cat_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Cat_Id })
            </td>
        </tr>
}
    </tbody>
</table>