@model IEnumerable<ASP.Models.ProductListItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product list</h1>

<p>
    <a asp-action="Create">Create New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EcoScore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcoScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Product_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Product_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Product_Id })
            </td>
        </tr>
}
    </tbody>
</table>
